<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnectionEntities" connectionString="metadata=res://*/NVoucher.csdl|res://*/NVoucher.ssdl|res://*/NVoucher.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINTOSH\SQLEXPRESS;initial catalog=DefaultConnection;integrated security=True;connect timeout=15;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NVoucherContainer" connectionString="metadata=res://*/Data.NVoucher.csdl|res://*/Data.NVoucher.ssdl|res://*/Data.NVoucher.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wintosh\sqlexpress;initial catalog=DefaultConnection;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>